<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_CLIENT_ID</key>
	<string>pk_9b010cbaca414f40baa578ed8beed0b2</string>
	<key>BASE_URL</key>
	<string>https://sandbox.iexapis.com/stable/stock/</string>
</dict>
</plist>
